.form-element {
    display: block;
}



.form-error {
    border: 2px solid red;
}

.form-valid {
    border: 2px solid rgb(31, 177, 31);
}

.hidden {
    visibility: hidden;
}

.upload {
    margin: 0 2em 10em 2em;
}

.loaded {
    font-size: larger;
    font-weight: bold;
    color: rgb(31, 177, 31);
}